@media (max-width: 767px) {

    .header {
        padding: 0 40px 0;
    }

    .promo__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 90px;
    }
}

@media (max-width: 575px) {

    .promo__header {
        font-size: 35px;
        &__subheader {
            margin-top: 1px;
            font-size: 20px;
        }
    }
    
    .advantages__wrapper {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .advantages__item {
        max-width: 400px;
        margin-top: 40px;
    }

    .advantages__subtitle {
        margin-top: 2px;
        font-size: 27px;
    }

    .advantages__icon {
        width: 35%;
    }

    .advantages__descr {
        margin-top: 16px;
        font-size: 17px;
    }

    .xs575-hidden{
        display: none;
    }

}

@media (max-width: 425px) {
    .header {
        padding: 5px;
    }

    .header__logo img {
        width: 90%;
    }

    .header__phone {
        font-size: 14px;
    }

    .button {
        width: 90%;
        font-size: 10px;
    }
    .promo__header {
        font-size: 25px;
    }
    .promo__subheader {
        margin-top: 1px;
        font-size: 14px;
        }
}

@media (max-width: 320px){
    .header__phone {
        font-size: 10px;
    }

    .promo__icons {
        margin-top: 25px;
        width: 425px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .promo__icon img
    {
        margin-top: 20px;
    }

    .button_main {
        font-size: 14px;
    }

    .promo__link{
        font-size: 14px;
    }
}

